body {
  background-color: #181a1c;
  margin: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

div,
img {
  -webkit-tap-highlight-color: transparent;
}

nav {
  display: flex;
  width: 100vw;
  background-color: #181a1c;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  z-index: 3;
  top: 0;
}

.nav-menu {
  font-size: 1.125em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5em;
}

.nav-menu img {
  width: 104px;
  height: 44px;
  display: flex;
}

.nav-menu a {
  cursor: pointer;
  transition: 0.2s;
}

.nav-menu a:hover {
  transform: scale(1.1);
}

.nav-menu img.logo-without-text {
  display: none;
}

.profile-wrap {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  cursor: pointer;
}

.profile-wrap img {
  width: 40px;
  border-radius: 50%;
}

.arrow-icon {
  width: 13px;
}

.arrow-icon span {
  display: block;
  width: 10px;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  transition: 0.3s;
}

.arrow-icon span:first-child {
  transform: rotate(-45deg) translate(3px, 7px);
}

.arrow-icon span:last-child {
  transform: rotate(45deg) translate(1px, -0.5px);
}

.dropdown-wrap {
  display: none;
  padding: 15px;
  position: absolute;
  top: 35px;
  right: -25px;
}

.dropdown {
  background-color: #181a1c;
  min-width: 170px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -2px gray;
  padding: 5px 0;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 15px 20px;
}

.dropdown ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.dropdown ul li a p {
  margin: 0;
}

.dropdown ul li a:hover {
  color: #3254ff;
}

.profile-wrap:hover .dropdown-wrap {
  display: block;
}

.profile-wrap:hover .dropdown {
  animation: dropdown 0.3s ease;
}

.profile-wrap:hover .arrow-icon span:first-child {
  transform: rotate(45deg) translate(7px, -3px);
}

.profile-wrap:hover .arrow-icon span:last-child {
  transform: rotate(-45deg) translate(0px, 1px);
}

/* section 1 */
section.hero {
  padding: 0;
  box-sizing: unset;
}

.hero-container {
  position: relative;
  height: 760px;
  background-image: linear-gradient(0deg, rgba(24, 26, 28, 1) 3%, rgba(24, 26, 28, 0.55) 53%, rgba(24, 26, 28, 0) 100%), url(../assets/img/hero-bg.png);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  left: 6%;
  right: 6%;
  bottom: 15.5%;
}

.hero-text h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.hero-text p {
  font-size: 1.127em;
  max-width: 678px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  margin: 18px 0 0 0;
}

.action-hero {
  display: flex;
  gap: 13px;
  margin-top: 50px;
}

.action-hero button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  text-transform: capitalize;
  color: white;
  border-radius: 48px;
  background-color: #0f1e93;
  padding: 0.625em 1.625em;
  cursor: pointer;
}

.action-hero button:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #22282a;
}

.action-hero button:active {
  transform: scale(0.95);
}

.age-rating {
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 24px;
  border: 1px solid white;
  display: grid;
  place-items: center;
  cursor: default;
}

span.volume-icon {
  position: absolute;
  right: 0;
  display: grid;
  place-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-icon img {
  width: 24px;
}

section {
  width: 100%;
  padding: 0 6%;
  box-sizing: border-box;
}

section .carousel-container {
  position: relative;
  padding: 20px 0;
}

section:nth-child(3) .carousel-container,
section:nth-child(4) .carousel-container {
  padding-top: 20px;
}

.carousel-container button:last-child {
  transform: rotate(180deg);
}

.carousel-container h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0;
}

section:nth-child(3) .carousel-container h2 {
  margin-top: 20px;
}

.carousel {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.poster {
  gap: 28px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.carousel-item {
  flex: 0 0 auto;
  width: 302px;
  height: 162px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.carousel-item img,
.carousel-poster-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carousel-item p {
  position: absolute;
  bottom: 5px;
  margin: 0;
  color: #ffffff;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(24, 26, 28, 0.4) 0%, rgba(24, 26, 28, 0.2) 30%, rgba(24, 26, 28, 0) 100%);
}

.carousel-item:hover,
.carousel-poster-item:hover {
  transform: scale(1.05);
}

.carousel-item p:nth-child(3) {
  left: 7px;
  max-width: 230px;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-item p:last-child {
  font-size: 14px;
  font-weight: 400;
  right: 7px;
}

.prev,
.next {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  background-color: #2f3334;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  border-radius: 50%;
  border: 1px solid #e7e3fc3b;
  /* transform: translateY(50%); */
  z-index: 2;
}

.prev {
  left: -23px;
}

.next {
  right: -23px;
}

.scroll-poster {
  top: 55%;
}

.carousel-poster-item {
  flex: 0 0 auto;
  width: 234px;
  height: 365px;
  text-align: center;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

div.label-updated {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 25px;
  padding: 4px 10px;
  z-index: 1;
  font-size: 14px;
  font-weight: 700;
  background-color: #0f1e93;
}

div.label-trending {
  position: absolute;
  top: 0;
  right: 10px;
  width: 25px;
  height: 40px;
  border-radius: 0 5px;
  padding: 4px;
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  background-color: #b71f1d;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1400px) {
  .hero-container {
    height: 680px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-container {
    height: 585px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-menu {
    gap: 4em;
  }

  .hero {
    margin-top: 53px;
  }

  .hero-container {
    height: 485px;
  }
}

@media screen and (max-width: 900px) {
  .hero-container {
    height: 440px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0.8rem 3rem;
  }

  .nav-menu {
    font-size: 1em;
    gap: 2.5em;
  }

  .nav-menu img {
    width: 93px;
    height: 33px;
  }

  .profile-wrap {
    gap: 5px;
  }

  .profile-wrap img {
    width: 35px;
  }

  .arrow-icon span {
    width: 8px;
    height: 1.85px;
  }

  .arrow-icon span:last-child {
    transform: rotate(45deg) translate(3px, -1px);
  }

  .profile-wrap:hover .arrow-icon span:last-child {
    transform: rotate(-45deg) translate(1.5px, 3px);
  }

  .dropdown-wrap {
    top: 28px;
  }

  .dropdown {
    min-width: 145px;
    padding: 3.5px 0;
  }

  .dropdown ul li {
    padding: 10px 15px;
  }

  .dropdown ul li a {
    font-size: 14px;
  }

  .hero-container {
    height: 390px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 15px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-hero {
    margin-top: 30px;
  }

  section {
    padding-right: 0;
  }

  section .carousel-container {
    padding-top: 10px;
  }

  .carousel-container h2 {
    margin-top: 0;
  }

  .carousel-container h2 {
    font-size: 26px;
  }

  .carousel,
  .poster {
    gap: 16px;
  }

  .carousel-poster-item {
    width: 164.7px;
    height: 254.2px;
  }

  .prev,
  .next {
    display: none;
  }

  div.label-updated {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 25px;
    padding: 4px 10px;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
    background-color: #0f1e93;
  }

  div.label-trending {
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    height: 40px;
    border-radius: 0 5px;
    padding: 4px;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
    background-color: #b71f1d;
  }

  div.label-updated {
    top: 10px;
    left: 10px;
    border-radius: 18.5px;
    padding: 3px 8px;
    font-size: 11px;
  }

  div.label-trending {
    right: 8px;
    width: 19px;
    height: 30.5px;
    border-radius: 0 3.75px;
    padding: 2.9px;
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .hero-container {
    height: 340px;
  }

  .hero-text p {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 600px) {
  .nav-menu {
    font-size: 0.85em;
    gap: 2em;
  }

  .nav-menu img {
    width: 87px;
    height: 27px;
  }

  .profile-wrap img {
    width: 32px;
  }

  .dropdown-wrap {
    padding: 10px;
    right: -20px;
  }

  .hero {
    margin-top: 50px;
  }

  .hero-container {
    height: 290px;
  }

  .hero-text p {
    margin: 13px 0 0 0;
  }

  .action-hero {
    margin-top: 25px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 0.8rem 1.5rem;
  }

  .nav-menu img {
    width: 33px;
    height: 23px;
  }

  .nav-menu img.logo-without-text {
    display: flex;
  }

  .nav-menu img.logo-text {
    display: none;
  }

  .dropdown {
    min-width: 135px;
    padding: 3px 0;
  }

  .dropdown ul li {
    padding: 7px 12px;
  }

  .dropdown ul li a {
    font-size: 12px;
  }

  .hero-container {
    height: 245px;
  }

  .hero-text h1 {
    font-size: 24px;
  }

  .hero-text p {
    font-size: 12px;
    line-height: 16.8px;
  }

  .action-hero button {
    font-size: 12px;
  }

  .age-rating {
    font-size: 15px;
  }

  span.volume-icon {
    width: 33px;
    height: 33px;
  }

  .volume-icon img {
    width: 16.5px;
  }

  section .carousel-container {
    padding-top: 0;
  }

  .carousel-container h2 {
    font-size: 20px;
  }

  .carousel-poster-item {
    width: 95.6px;
    height: 143.39px;
  }

  .poster {
    gap: 13px;
  }

  div.label-updated {
    top: 5px;
    left: 5px;
    border-radius: 12px;
    padding: 2px 5px;
    font-size: 5.74px;
  }

  div.label-trending {
    right: 5px;
    width: 14px;
    height: 21px;
    border-radius: 0 2.5px;
    padding: 1.9px;
    font-size: 6.7px;
  }
}

@media screen and (max-width: 450px) {
  nav {
    padding: 0.8rem 1rem;
    height: 56px;
  }

  .nav-menu {
    font-size: 0.75em;
    gap: 1.7em;
  }

  .nav-menu img {
    width: 30px;
    height: 20px;
  }

  .profile-wrap img {
    width: 27px;
  }

  .dropdown-wrap {
    padding: 5px;
    right: -13px;
  }

  .dropdown {
    min-width: 120px;
    padding: 5px 0;
  }

  .dropdown ul li {
    padding: 3.5px 10px;
  }

  .dropdown ul li a {
    font-size: 11px;
  }

  .hero-container {
    height: 220px;
  }

  .hero-text p {
    margin: 10px 0 0 0;
  }

  .action-hero {
    margin-top: 15px;
    gap: 10px;
  }

  .hero-text {
    left: 4%;
    right: 4%;
  }

  section {
    padding-right: 0;
    padding-left: 4%;
  }
}

@media screen and (max-width: 400px) {
  .hero-container {
    height: 200px;
  }

  .hero-text {
    bottom: 10.5%;
  }

  .hero-text p {
    margin: 5px 0 0 0;
  }

  .action-hero {
    margin-top: 8px;
    gap: 7px;
  }

  .action-hero button {
    margin: 4px 0;
    font-size: 10px;
  }

  .action-hero button:nth-child(2) {
    gap: 3.5px;
  }

  .action-hero button img {
    width: 13.5px;
  }

  .age-rating {
    margin: 5px 0;
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
  }
}
